/* Cascading stylesheets*/
nav{
  text-transform: uppercase;

}
.avatar {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border: 1px black;
}

.Staff {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border: 1px black;
}

h1 {

  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-shadow: 3px 3px 3px #ababab;
  font-size: 3rem;
  color: rgb(20, 0, 79);
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-shadow: 3px 3px 3px #ababab;
  font-size: 2.5rem;
  color: rgb(20, 0, 79);
}

h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 3rem;
  color: rgb(20, 0, 79);
  text-shadow: 3px 3px 3px #afd7f8;

}

h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 2rem;
  color: rgb(20, 0, 79);
  text-shadow: 3px 3px 3px #afd7f8;

}

h3 {

  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  text-shadow: 3px 3px 3px #ababab;
  font-size: 2rem;
  color: rgb(20, 0, 79);
}

